<section>
    <div class="site-container">
        <%= link_to 'View all', root_path %>
        <h1><%= @task.title %></h1>
        <% if @task.detail.present? %>
            <p><%= @task.detail %></p>
        <% end %>
        <%= render 'actions', task: @task %>
    </div>
</section>